body {
	color: red;
	background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}
div {
	background: linear-gradient(to left, black, white);
	position: fixed;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
}